## General ignores

# UiPath Folders
# **/.entities*
**/.local*
**/.project*
**/.settings*
**/.templates*
**/.tmh*
**/.storage

# Process Folders
**/process_data*
**/process_logs
**/exceptions
**/out

# Files
*.png
*.jpeg
*.pdf
*.xls





